.header {
    background-color: rgb(248, 120, 1);
    min-height: 10vh;
    display: flex;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-left: 20px;
  }

.header-container {
    display: flex;
    position: absolute;
    right: 14px;
}

.count {
    background-color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.item {
    position: fixed;
    margin: 10px;
    color:rgb(248, 120, 1);
    font-size: 17px;
}

.signOut .MuiSvgIcon-root {
    cursor: pointer;
    font-size: 40px !important;
}
